.history
{      -fx-border-color: blue;
      -fx-border-radius:  12px; 
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50; 
      -fx-background-size: stretch;
}
.history:hover
{
      -fx-border-radius:  50 50 50 50;
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50;      
      -fx-background-size: stretch;
}
.history:pressed
{
      -fx-border-color: red;
      -fx-border-radius:  50 50 50 50;
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50; 
      -fx-background-size: stretch;
}

.AnchorPane{
  
  
    -fx-background-image:url('fire3.jpg');
    -fx-background-size: stretch;
}
.stop
{      -fx-border-color: blue;
      -fx-border-radius:  50 50 50 50;
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50; 
      -fx-background-size: auto ;
}
.stop:pressed
{
      -fx-border-color: red;
      -fx-border-radius:  12px;
      -fx-border-style: solid ;
      -fx-border-width: 8;
      -fx-background-color:  transparent;
      -fx-background-radius: 50 50 50 50; 
      -fx-background-size: stretch;
}
.Alert{
    
    -fx-background-image:url('alert.gif');
    
    -fx-background-size: stretch;
}